.App {
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  background-image: url("../public/blob5.png"), url("../public/blobs.png");
  background-repeat: no-repeat, no-repeat;
  position: fixed;
  background-position: bottom left, top right;
}

.question-page {
  padding-left: 150px;
  padding-right: 150px;
}

#Home-Page-Title {
  font-family: "Karla", serif;
  font-size: 2.5rem;
}

#Home-Page-Description {
  font-family: "Inter", serif;
  font-size: 1.5rem;
}

.btn {
  font-family: "Inter", serif;
  font-size: 1.2em;
  width: 8em;
  height: 2.5em;
  background-color: #4D5B9E;
  border-radius: 12px;
  color: #F5F7FB;
  border: 0;
  box-shadow: 0 0 0.2em 0 gray;
}

.btn:hover {
  background-color: #5e71cb;
}

.btn:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}

.question {
  font-family: "Karla", serif;
  font-size: 2em;
  color: #293264;
  margin: 20px;
}

/* Style the radio button container */
.radio-input-container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  cursor: pointer;
}

/* Hide the default radio button */
.radio-input-container input[type="radio"] {
  display: none; 
}

/* Style the label as a button */
.radio-input-container label {
  display: block;
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease; 
}

/* Style the button on hover */
.radio-input-container label:hover {
  background-color: #ddd;
}

/* Style the button when checked */
.radio-input-container input[type="radio"]:checked + label {
  background-color: #007bff; /* Blue color for checked */
  color: white;
}