html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.site-wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
}

nav {
    height: 6%;
}

main {
    height: 94%;
    width: 100%;
    align-content: center;
}

.toggler {
    position: fixed;
    top: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 1;
}

.toggler label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }

.toggler input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #2B283A;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 20px;
width: 21px;
left: 1px;
bottom: 3px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #918E9B;
}

input:focus + .slider {
box-shadow: 0 0 1px #918E9B;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.toggler--light {
    color: #2B283A;
}

.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #aaaaaa;
}

.dark .toggler-dark {
    color: #FFFFFF;
}

.bg-img {
    background-image: url("../public/blob5.png"), url("../public/blobs.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: fixed;
}

#Home-Page-Title {
    font-family: "Karla", serif;
    font-size: 2.5rem;
}

#Home-Page-Description {
    font-family: "Inter", serif;
    font-size: 1.5rem;
}

.btn {
    font-family: "Inter", serif;
    font-size: 1.2em;
    width: 9em;
    height: 2.5em;
    background-color: #4D5B9E;
    border-radius: 12px;
    color: #F5F7FB;
    border: 0;
    box-shadow: 0 0 0.2em 0 gray;
    cursor: pointer;
}

.btn:hover:enabled {
    background-color: #5e71cb;
}

.btn:active:enabled {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}

.question-page{
    margin-top: 100px;
}

.question {
    margin: 0px 150px;
    padding: 0px 20px;
}

.question-title {
    font-family: "Karla", serif;
    font-size: 2em;
    color: #293264;
    margin: 20px;
}

/* Style the radio button container */
.radio-input-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-bottom: 15px;
}

/* Hide the default radio button */
.radio-input-container input[type="radio"] {
    display: none;
}

/* Style the label as a button */
.radio-input-container label {
    display: block;
    padding: 10px 20px;
    font-weight: 600;
    color: #4D5B9E;
    border: #4D5B9E solid 1.5px;
    border-radius: 15px;
}

/* Style the button on hover */
.radio-input-container label:hover {
    background-color: #D6DBF5;
    cursor: pointer;
}

/* Style the label when checked */
.radio-input-container label:has(> input[type="radio"]:checked) {
    background-color: #D6DBF5;
    border: none;
}

hr {
    color: #DBDEF0;
    width: 90%;
    margin: 50px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.bottom-text {
    font-family: "Karla", serif;
    font-size: 2em;
    color: #293264;
}

.main-content.dark {
    color: #F5F7FB;
}

.bg-img.dark {
    background-color: #27374D;
}

.main-content.dark button {
    border: solid 1.5px;
}

.question.dark .question-title {
    color: #F5F7FB;
}

.dark .bottom-text {
    color: #F5F7FB;
}

.dark .radio-input-container label:hover {
    background-color: #99a5de;
}

.dark .radio-input-container label:has(> input[type="radio"]:checked) {
    background-color: #99a5de;
}

.question-form {
    margin-top: 50px;
    font-family: "Inter", serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.question-form input,select{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    font-family: "Inter", serif;
    font-size: 1.2rem;
    text-align: center;
}